       <ion-view title="报警" ng-init="init()" ng-controller="AlarmCtrl">
           <ion-content class="padding">
               <div ng-if="AlarmViewModel.alarms.length === 0 || AlarmViewModel.alarms === null">
                   <h5 class="text-center">没有报警记录</h5>
               </div>


               <ion-list can-swipe="true">
                   <div ng-if="AlarmViewModel.alarms != null" ng-repeat="alarm in AlarmViewModel.alarms">
                       <ion-item on-tap="Detail(alarm)">
                           {{alarm.p11}} :{{alarm.p12}}
                           <ion-option-button class="button-assertive" ng-click="removeAlarm(alarm)" style="line-height: 3.3;">Delete</ion-option-button>
                       </ion-item>
                   </div>
               </ion-list>

           </ion-content>
        </ion-view>