        <ion-view title="正在报警" ng-controller="AlarmsCtrl" ng-init="alarmingData()">
            <ion-content class="padding">
                <div ng-if="AlarmingViewModel.alarms.length === 0 || AlarmingViewModel.alarms == null">
                    <h5 class="text-center">No Alarm Info</h5>
                </div>
                <div ng-if="AlarmingViewModel.alarms.length != 0" ng-repeat="alarm in AlarmingViewModel.alarms">
                    <div class="col-lg-33 disable-user-behavior" ng-click="sendAck(alarm)">

                        <div class="card">
                            <div class="item">
                                <h2>主机名: {{alarm.device_name}} </h2>
                                <p>节点类型: {{alarm.node_type_cn}}</p>
                                <p>报警类型: {{alarm.alert_type_cn}}</p>
                                <p>报警时间: {{alarm.alert_time}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </ion-content>
        </ion-view>