        <ion-view>
            <ion-content ng-controller="NaviviCtrl" ng-init="tinit()">
				<ion-slide-box show-pager="false">
				  <ion-slide>
				    <div class="box blue" style="">
				    	<img src="/img/guide1.jpg" style="max-width: 100%;"/>
				    </div>
				  </ion-slide>
				  <ion-slide>
				    <div class="box yellow" style="">
				    	<img src="/img/guide2.jpg" style="max-width: 100%;"/>
				    </div>
				  </ion-slide>
				  <ion-slide>
				    <div class="box pink" style="">
				    	<img src="/img/guide3.jpg" style="max-width: 100%;" ng-click="getin()"/>
				    </div>
				  </ion-slide>
				</ion-slide-box>
            </ion-content>
        </ion-view>