         <ion-view title="设备电量" ng-init="init()" ng-controller="BatteryCtrl">
             <ion-content class="padding">
                 <div ng-if="BatteryViewModel.battery.length === 0 || BatteryViewModel.battery === null">
                     <h5 class="text-center">没有电池记录</h5>
                 </div>

                 <!--<div ng-if="BatteryViewModel.battery.length != 0" ng-repeat="stack in BatteryViewModel.battery">
                     <div ng-if="stack.属性id != null">
                         <div class="list">
                             <div class="item item-icon-left">
                                 <i class="icon ion-flame"></i>
                                 {{stack.属性1}} :{{stack.属性2}}
                                 <span class="item-note">
                                     {{stack.属性3}}
                                 </span>
                             </div>
                         </div>
                     </div>
                 </div>-->
             </ion-content>
         </ion-view>