        <ion-view title="摄像头" ng-init="init()" ng-controller="CameraCtrl">
            <ion-content class="padding">
				<div class="item item-icon-left">
                                <i class="icon ion-flame" ></i>
                                PM2.5
                                <span class="item-note" style="color: #0a0a0a;">
                                    {{objobj.PM25}}
                                </span>
                 </div>    
				<div class="item item-icon-left">
                                <i class="icon ion-flame" ></i>
                                最低温度
                                <span class="item-note" style="color: #0a0a0a;">
                                    {{objobj.TodayMin}}
                                </span>
                 </div>    
				<div class="item item-icon-left">
                                <i class="icon ion-flame" ></i>
                                最高温度
                                <span class="item-note" style="color: #0a0a0a;">
                                    {{objobj.TodayMax}}
                                </span>
                 </div>                                            
            </ion-content>
        </ion-view>