        <ion-view title="修改密码" ng-controller="PasswordCtrl">
            <ion-content>
                <form name="addLocationForm" ng-init="setFormScope(this)" data-ng-submit="validateMessage()">
                    <div class="padding">
                        <button class="button button-balanced">
                            发送短信验证码
                        </button>
                    </div>                    
                    <div class="list">
                        <label class="item item-input">
                            <input type="text" placeholder="手机验证码" ng-model="codeform.code">
                        </label>
                    </div>
                    <div class="padding">
                        <button class="button button-balanced">
                            确定
                        </button>
                    </div>
                </form>
            </ion-content>
        </ion-view>