        <ion-view title="修改密码" ng-controller="PasswordCtrl">
            <ion-content>
                <form name="addLocationForm" ng-init="setFormScope(this)" data-ng-submit="changePW()">
                    <div class="list">
                        <label class="item item-input">
                            <input type="text" placeholder="旧密码" ng-model="codeform.oldPW">
                        </label>
                    </div>                  
                    <div class="list">
                        <label class="item item-input">
                            <input type="text" placeholder="新密码" ng-model="codeform.newPW">
                        </label>
                    </div>
                    <div class="list">
                        <label class="item item-input">
                            <input type="text" placeholder="再次输入新密码" ng-model="codeform.confirmPW">
                        </label>
                    </div>                    
                    <div class="padding">
                        <button class="button button-balanced">
                            确定
                        </button>
                    </div>
                </form>
            </ion-content>
        </ion-view>