<ion-view title="故障报修" ng-init="init()" ng-controller="MaintananceCtrl">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="姓名" ng-model="GuestSevice.Maintanance.name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="手机号码" ng-model="GuestSevice.Maintanance.phone">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="报修设备类型" ng-model="GuestSevice.Maintanance.nodeType">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="故障描述" ng-model="GuestSevice.Maintanance.deviceAddress">
            </label>
        </div>
        <div class="padding">
            <button class="button button-balanced button-block" ng-click="maintananceSubmit()" style="border-color: #57a595;background-color: #57a595;">
                提交
            </button>
        </div>
    </ion-content>
</ion-view>