         <ion-view title="操作记录" ng-init="init()" ng-controller="ManuStackCtrl">             
             <ion-content class="padding">
                 <div ng-if="StackViewModel.manustack.length === 0 || StackViewModel.manustack === null">
                     <h5 class="text-center">没有操作记录</h5>
                 </div>

                 <div ng-if="StackViewModel.manustack.length != 0" ng-repeat="stack in StackViewModel.manustack">                       
                         <div class="card">
                            <div class="item">
                                <h2 >option id : {{stack.opt_id}}</h2>
                                <p >option time: {{stack.opt_time}}</p>
                                 <p >option desc:  {{stack.opt_desc}}</p>
                            </div>
                        </div>
                     </div>
                 </div>
                 <button class="button button-balanced button-block" ng-show="StackViewModel.enableMore" style="border-color: #57a595;background-color: #57a595;" ng-click="loadMoreStackManus()">
                    Load More
                </button>  
             </ion-content>
         </ion-view>
         
         