         <ion-view title="操作记录" ng-init="init()" ng-controller="ManuStackCtrl">             
             <ion-content class="padding">
                 <div ng-if="ManuStackViewModel.manustack.length === 0 || ManuStackViewModel.manustack === null">
                     <h5 class="text-center">没有操作记录</h5>
                 </div>

                 <ion-list can-swipe="true">
                     <div ng-if="ManuStackViewModel.manustack.length != 0" ng-repeat="piece in ManuStackViewModel.manustack">
                         <ion-item >
                             {{piece.p11}} :{{piece.p12}}
                             <ion-option-button class="button-assertive" ng-click="removeManu(piece)" style="line-height: 3.3;">Delete</ion-option-button>
                         </ion-item>
                     </div>
                 </ion-list>

             </ion-content>
         </ion-view>