        <ion-nav-bar class="bar-light" animation="nav-title-slide-ios7"></ion-nav-bar> 
        <ion-nav-buttons side="left">
            <a class="button button-icon ion-arrow-left-c" ng-click="pageJump('app.dashboard.overview')" ></a>
        </ion-nav-buttons>         
        <ion-view title="主机与设备"  ng-controller="OverViewCtrl">
            <ion-content class="padding">
                <div ng-if="UsingNodesViewModel.nodes.length === 0 || UsingNodesViewModel.nodes === null">
                    <h5 class="text-center">未绑定相应设备</h5>
                </div>

                <div ng-if="UsingDeviceViewModel.device == null || typeof(UsingDeviceViewModel.device) == 'undefined'">
                    <h5 class="text-center">未绑定主机</h5>
                </div>
                <div class="col-lg-33" ng-if="UsingDeviceViewModel.device != null && typeof(UsingDeviceViewModel.device) != 'undefined'">
                                <div class="card">
                                    <div class="item item-avatar">
                                        <img src="img/doormagnet.jpg">
                                        <h2>当前主机: {{UsingDeviceViewModel.device.device_name}}</h2>                           
                                    </div>
                                </div>
                </div>
                <div ng-if="UsingNodesViewModel.nodes.length != 0" ng-repeat="node in UsingNodesViewModel.nodes">
                    <div ng-if="node.node_id != null">
                            <div class="col-lg-33">
                                <div class="card">
                                    <div class="item item-avatar">
                                        <img src="img/doormagnet.jpg">
                                        <h2>{{node.name}}{{node.type_name}}</h2>        
                                        <p>节点状态: <span class="balanced" ng-show="{{!node.alert_status}}">该节点运行正常</span><span class="assertive" ng-show="{{node.alert_status}}">该节点正在报警</span></p>                             
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

                <div ng-if="UsingDeviceViewModel.device != null && typeof(UsingDeviceViewModel.device) != 'undefined' && AlarmingViewModel.alarms.length === 0">
                    <h5 class="text-center">设备正常运行</h5>
                </div>
                 <div class="padding" ng-if="AlarmingViewModel.alarms.length != 0 && AlarmingViewModel.alarms != null">
                    <button class="button button-balanced button-block" ng-click="acknowledgeAllAlarms()" ng-show="AlarmingViewModel.alarms.length != 0" style="border-color: #57a595;background-color: #57a595;">
                        清除所有报警
                    </button>
                </div>
                <div ng-if="AlarmingViewModel.alarms.length != 0" ng-repeat="alarm in AlarmingViewModel.alarms">
                    <div class="col-lg-33 disable-user-behavior" ng-click="sendAck(alarm)">

                        <div class="card">
                            <div class="item">
                                <h2>主机名: {{alarm.device_name}} </h2>
                                <p>节点类型: {{alarm.node_type}}</p>
                                <p>报警类型: {{alarm.alert_type}}</p>
                                <p>报警时间: {{alarm.alert_time}}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </ion-content>
        </ion-view>