        <ion-view title="重命名节点" ng-controller="NodeEditCtrl" >
            <ion-content class="padding-vertical">
                <div ng-if="Temp.EditingNode === null">
                    <h5 class="text-center">No Nodes Info</h5>
                </div>
                <div class="card" ng-model="Temp.EditingNode">
                    <label class="item item-input">
                        <span class="input-label">设备ID</span>
                        <input type="text" ng-model="Temp.EditingNode.node_id" readonly="readonly">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">节点名称</span>
                        <input type="text" ng-model="Temp.EditingNode.name">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">设备类型</span>
                        <input type="text" ng-model="Temp.EditingNode.type_name" readonly="readonly">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">设备状态</span>
                        <input type="text" ng-model="Temp.EditingNode.status" readonly="readonly">
                    </label>
                </div>
                <div class="padding">
                    <button class="button button-balanced button-block" ng-click="submitEdit()" style="border-color: #57a595;background-color: #57a595;">
                        保存修改
                    </button>
                </div>
            </ion-content>
        </ion-view>