        <ion-view title="Notification" ng-controller="notifies">
            <ion-content>
                <form name="addUserForm" ng-init="setFormScope(this)" data-ng-submit="userSubmit()">
                    <div class="list">
                        <li class="item" on-tap="pageJump('app.purchaseinfo')">
                            Purchase
                        </li>
                        <li class="item " >
                            Alarm
                        </li>
                        <li class="item " >
                            Mainboard/Battery
                        </li>                        
                        <li class="item ">
                            Manipulation Stack
                        </li>
                    </div>
                </form>
            </ion-content>
        </ion-view>