        <ion-view title="首页" ng-controller="OverViewCtrl" ng-init="DataReq()">
            <ion-content class="padding">
                <div class="card">
                  <div class="item item-text-wrap calm-bg">
                    <i class="icon ion-medkit"></i>
                    安防状况
                    <span class="item-note">
                       {{OverViewVM.OverStatus}}
                    </span>
                  </div>
                </div>   

                <wrap-owlcarousel class="owl-carousel padding"
                                  data-options="{
                            autoPlay: false,
                            slideSpeed : 300,
                            paginationSpeed : 400,
                            items: 3,
                            itemsDesktop: [1199,3],
                            itemsTablet: [768,2],
                            itemsMobile: [479,1],
                            navigation: false,
                        }">
                    <div class="owl-item">
                        <img src="img/room1.jpg" />
                    </div>
                    <div class="owl-item">
                        <img src="img/room2.jpg" />
                    </div>
                    <div class="owl-item">
                        <img src="img/room1.jpg" />
                    </div>
                    <div class="owl-item">
                        <img src="img/room2.jpg" />
                    </div>
                </wrap-owlcarousel>


                <div class="card">
                  <div class="item item-text-wrap">
                    位置&天气
                  </div>
                </div>   
                <div class="card">
                  <div class="item item-text-wrap">
                    广告
                  </div>
                </div>                   

                <div class="clearfix"></div>
                <div class="card">
                  <div class="item item-text-wrap">
                    当前主机
                  </div>
                </div>                  
                <div class="padding">
                    <div class="item item-divider">
                        设备
                    </div>
                </div>

                    <div class="col-lg-50 padding-horizontal">
                        <div style="width:100%;height:80px;text-align: center;line-height:5;">
                            <div class="item item-icon-left" style="width:20%;height:100%;float:left;"

                            on-tap="deviceTap('app.device', detectorsVM.detectors, 'MEG')" id="megnetDevices" >
                                <i class="icon ion-magnet" style="left: 21px;"></i>
                            </div>
                            <div style="width:60%;height:100%;float:left;padding: 0px 72px;">
                                <div class="item item-icon-left" style="width:100%;height:100%;float:left;padding-left: 0px;"

                                on-tap="deviceTap('app.device', detectorsVM.detectors, 'INF')" id="infraDevices">
                                    <i class="icon ion-wifi" style="padding-left: 23px;left: initial;"></i>
                                </div>
                            </div>
                            <div class="item item-icon-left" style="width:20%;height:100%;float:left;"

                            on-tap="deviceTap('app.device', detectorsVM.detectors, 'SMK')" id="smokeDevices">
                                <i class="icon ion-flame" style="left: 21px;"></i>
                            </div>
                        </div>
                        <div style="height:20px"></div>
                        <div style="width:100%;height:80px;text-align: center;line-height:5;">
                            <div class="item item-icon-left" style="width:20%;height:100%;float:left;"

                            on-tap="deviceTap('app.device', detectorsVM.detectors, 'GAS')" id="gasDevices">
                                <i class="icon ion-bonfire" style="left: 21px;"></i>
                            </div>
                            <div style="width:60%;height:100%;float:left;padding: 0px 72px;"></div>
                            <div class="item item-icon-left" style="width:20%;height:100%;float:left;"

                            on-tap="deviceTap('app.device', detectorsVM.detectors, 'SEC')" id="eKeyDevices">
                                <i class="icon ion-locked" style="left: 21px;"></i>
                            </div>
                        </div>
                        <div style="height:20px"></div>
                        <div style="width:100%;height:80px;text-align: center;line-height:5;">
                            <div class="item item-icon-left" 
                            style="width:20%;height:100%;float:left;"on-tap="pageJump('app.camera')"

                            on-tap="deviceTap('app.device', detectorsVM.detectors, 'CAM')" id="cameraDevices" >
                                <i class="icon ion-videocamera" style="left: 21px;"></i>
                            </div>
                            <div style="width:60%;height:100%;float:left;padding: 0px 72px;">
                                <div class="item item-icon-left" style="width:100%;height:100%;float:left;padding-left: 0px;">
                                    <i class="icon ion-wifi" style="padding-left: 23px;left: initial;"></i>
                                </div>
                            </div>
                            <div class="item item-icon-left" style="width:20%;height:100%;float:left;">
                                <i class="icon ion-wifi" style="left: 21px;"></i>
                            </div>
                        </div>                                                
                    </div>

<!--                 <div ng-repeat="detector in detectors">
                    <div class="col-lg-50 padding-horizontal">
                        <div class="item item-icon-left" >
                            <i class="icon" ng-class="detector.icon"></i>
                            {{ detector.name }}
                            <span class="item-note" >
                                {{ detector.status }}
                            </span>
                        </div>
                    </div>
                </div> -->


                <div class="clearfix"></div>    
                <div class="clearfix"></div>
            </ion-content>
        </ion-view>