        <ion-view title="首页" ng-controller="OverViewCtrl" ng-init="DataReq()" >
            <ion-content class="padding">
                <div class="card">
                  <div class="item item-text-wrap ">
                    <i class="icon ion-medkit"></i>
                    安防状况
                    <span class="item-note">
                       {{OverViewViewModel.OverStatus}}
                    </span>
                  </div>
                </div>   

                <wrap-owlcarousel class="owl-carousel padding"
                                  data-options="{
                            autoPlay: false,
                            slideSpeed : 300,
                            paginationSpeed : 400,
                            items: 3,
                            itemsDesktop: [1199,3],
                            itemsTablet: [768,2],
                            itemsMobile: [479,1],
                            navigation: false,
                        }">
                    <div class="owl-item">
                        <img src="img/room1.jpg" />
                    </div>
                    <div class="owl-item">
                        <img src="img/room2.jpg" />
                    </div>
                    <div class="owl-item">
                        <img src="img/room1.jpg" />
                    </div>
                    <div class="owl-item">
                        <img src="img/room2.jpg" />
                    </div>
                </wrap-owlcarousel>


                <div class="card">
                    <div class="item">
                                上海
                                <span class="item-note" style="color: #0a0a0a;">
                                    {{weatherObj.TodayMin}} ~ {{weatherObj.TodayMax}} °C
                                </span>
                    </div>                    
                </div>   
                <div class="card">
                  <div class="item item-text-wrap">
                    广告
                  </div>
                </div>                   

                <div class="clearfix"></div>
                <div class="card">

                <div class="item item-text-wrap">
                                当前主机
                                <span class="item-note">
                                    {{DevicesViewModel.devices[0].name}}
                                </span>
                </div>                                                
                </div>                  

                    <div class="padding-horizontal">
                        <div class="blockLine">
                            <div class="item blockLine-left" on-tap="nodeTypeTap('app.nodeType', NodesViewModel.nodes, '门磁')" id="megnetDevices" >
                                <div class="blockLine-IconParent">
                                    <i class="icon ion-magnet blockLine-Icon"></i>
                                </div>
                                <div class="blockLine-Desc">门磁</div>
                            </div>
                            <div class="item blockLine-middle" on-tap="nodeTypeTap('app.nodeType', NodesViewModel.nodes, '红外感应')" id="infraDevices">
                                <div class="blockLine-IconParent">
                                    <i class="icon ion-wifi blockLine-Icon" ></i>
                                </div>
                                <div class="blockLine-Desc">红外探测</div>                                
                            </div>
                            <div class="item blockLine-right" on-tap="nodeTypeTap('app.nodeType', NodesViewModel.nodes, '烟雾报警器')" id="smokeDevices">
                                <div class="blockLine-IconParent">
                                    <i class="icon ion-no-smoking blockLine-Icon"></i>
                                </div>
                                <div class="blockLine-Desc">烟雾探测</div>                                  
                            </div>
                        </div>
                        <div class="blockLine">
                            <div class="item blockLine-left" on-tap="nodeTypeTap('app.nodeType', NodesViewModel.nodes, '温度传感器')" id="gasDevices">
                                <div class="blockLine-IconParent">
                                    <i class="icon ion-bonfire blockLine-Icon"></i>
                                </div>
                                <div class="blockLine-Desc">燃气探测</div>
                            </div>
                            <div class="item blockLine-middle" on-tap="nodeTypeTap('app.nodeType', NodesViewModel.nodes, '电子钥匙')" id="eKeyDevices">
                                <div class="blockLine-IconParent">
                                    <i class="icon ion-locked blockLine-Icon"></i>
                                </div>
                                <div class="blockLine-Desc">电子钥匙</div>                                  
                            </div>
                            <div class="item blockLine-right" on-tap="pageJump('app.camera')" id="cameraDevices">
                                <div class="blockLine-IconParent">
                                    <i class="icon ion-videocamera blockLine-Icon"></i>
                                </div>
                                <div class="blockLine-Desc">视频监控</div>                                
                            </div>                            
                        </div>                        
                        <div class="blockLine">
                            <div class="item blockLine-left" >
                                <div class="blockLine-IconParent">
                                    <i class="icon ion-more blockLine-Icon" ></i>
                                </div>
                                <div class="blockLine-Desc">Reserved</div>
                            </div>
                            <div class="item blockLine-middle" >
                                <div class="blockLine-IconParent">
                                    <i class="icon ion-more blockLine-Icon" ></i>
                                </div>
                                <div class="blockLine-Desc">Reserved</div>                                
                            </div>
                            <div class="item blockLine-right" >
                                <div class="blockLine-IconParent">
                                    <i class="icon ion-more blockLine-Icon"></i>
                                </div>
                                <div class="blockLine-Desc">Reserved</div>                                  
                            </div>
                        </div>                                               
                    </div>


<!--                 <div ng-repeat="detector in detectors">
                    <div class="col-lg-50 padding-horizontal">
                        <div class="item item-icon-left" >
                            <i class="icon" ng-class="detector.icon"></i>
                            {{ detector.name }}
                            <span class="item-note" >
                                {{ detector.status }}
                            </span>
                        </div>
                    </div>
                </div> -->


                <div class="clearfix"></div>    
                <div class="clearfix"></div>
            </ion-content>
        </ion-view>