        <ion-view title="OverAll" ng-controller="OverViewCtrl">
            <ion-content class="padding">
                <div class="card">
                  <div class="item item-text-wrap">
                    Status Info.
                  </div>
                </div>   

                <wrap-owlcarousel class="owl-carousel padding"
                                  data-options="{
                            autoPlay: false,
                            slideSpeed : 300,
                            paginationSpeed : 400,
                            items: 3,
                            itemsDesktop: [1199,3],
                            itemsTablet: [768,2]                                                                                  ,
                            itemsMobile: [479,1],
                            navigation: true,
                        }">
                    <div class="owl-item">
                        <img src="img/room1.jpg" />
                    </div>
                    <div class="owl-item">
                        <img src="img/room2.jpg" />
                    </div>
                    <div class="owl-item">
                        <img src="img/room1.jpg" />
                    </div>
                    <div class="owl-item">
                        <img src="img/room2.jpg" />
                    </div>
                </wrap-owlcarousel>


                <div class="card">
                  <div class="item item-text-wrap">
                    Advertisement
                  </div>
                </div>   

                <div class="clearfix"></div>
                <div class="padding">
                    <div class="item item-divider">
                        Featured Devices
                    </div>
                </div>

                    <div class="col-lg-50 padding-horizontal">
                        <div style="width:100%;height:80px;text-align: center;line-height:5;">
                            <div class="item item-icon-left" style="width:20%;height:100%;float:left;"
                            on-tap="deviceTap('app.device', detectors, 'MEG')" id="megnetDevices" >
                                <i class="icon ion-magnet" style="left: 21px;"></i>
                            </div>
                            <div style="width:60%;height:100%;float:left;padding: 0px 72px;">
                                <div class="item item-icon-left" style="width:100%;height:100%;float:left;padding-left: 0px;" id="infraDevices">
                                    <i class="icon ion-wifi" style="padding-left: 23px;left: initial;"></i>
                                </div>
                            </div>
                            <div class="item item-icon-left" style="width:20%;height:100%;float:left;" id="smokeDevices">
                                <i class="icon ion-flame" style="left: 21px;"></i>
                            </div>
                        </div>
                        <div style="height:20px"></div>
                        <div style="width:100%;height:80px;text-align: center;line-height:5;">
                            <div class="item item-icon-left" style="width:20%;height:100%;float:left;" id="gasDevices">
                                <i class="icon ion-bonfire" style="left: 21px;"></i>
                            </div>
                            <div style="width:60%;height:100%;float:left;padding: 0px 72px;"></div>
                            <div class="item item-icon-left" style="width:20%;height:100%;float:left;" id="eKeyDevices">
                                <i class="icon ion-locked" style="left: 21px;"></i>
                            </div>
                        </div>
                        <div style="height:20px"></div>
                        <div style="width:100%;height:80px;text-align: center;line-height:5;">
                            <div class="item item-icon-left" 
                            style="width:20%;height:100%;float:left;"on-tap="pageJump('app.camera')" id="cameraDevices" >
                                <i class="icon ion-videocamera" style="left: 21px;"></i>
                            </div>
                            <div style="width:60%;height:100%;float:left;padding: 0px 72px;">
                                <div class="item item-icon-left" style="width:100%;height:100%;float:left;padding-left: 0px;">
                                    <i class="icon ion-wifi" style="padding-left: 23px;left: initial;"></i>
                                </div>
                            </div>
                            <div class="item item-icon-left" style="width:20%;height:100%;float:left;">
                                <i class="icon ion-wifi" style="left: 21px;"></i>
                            </div>
                        </div>                                                
                    </div>

<!--                 <div ng-repeat="detector in detectors">
                    <div class="col-lg-50 padding-horizontal">
                        <div class="item item-icon-left" >
                            <i class="icon" ng-class="detector.icon"></i>
                            {{ detector.name }}
                            <span class="item-note" >
                                {{ detector.status }}
                            </span>
                        </div>
                    </div>
                </div> -->


                <div class="clearfix"></div>    
                <div class="clearfix"></div>
            </ion-content>
        </ion-view>