        <ion-view title="设置" ng-controller="settings">
            <ion-content>
                <form name="addUserForm" ng-init="setFormScope(this)" data-ng-submit="userSubmit()">
                    <div class="list">
                        <li class="item" on-tap="pageJump('app.devicemanage')">
                            主机节点绑定设置
                        </li>
                        <li class="item " on-tap="pageJump('app.devicenetwork')">
                            主机网络设置
                        </li>
                    </div>
                </form>
            </ion-content>
        </ion-view>