        <ion-view title="设置" ng-controller="settingsCtrl">
            <ion-content>
                
                    <div class="list">
                        <li class="item " on-tap="pageJump('app.deviceselect')">
                            主机选择
                        </li>                         
                        <li class="item" on-tap="pageJump('app.devicemanage')">
                            主机管理
                        </li>
                        <li class="item " on-tap="pageJump('app.devicenetwork')">
                            主机网络设置
                        </li>    
                        <li class="item" on-tap="pageJump('app.messagesetting')">
                            消息提醒设置
                        </li>       
                        <li class="item " on-tap="pageJump('app.maintanance')">
                            故障报修
                        </li>
                        <li class="item " on-tap="pageJump('app.version')">
                            检查更新
                        </li>
                    </div>

            </ion-content>
        </ion-view>