         <ion-view title="版本信息" ng-controller="VersionCtrl">
             <ion-content class="padding" >
				<div class="item item-icon-left">
                   <i class="icon ion-magnet"></i>
                   当前版本
                       <span class="item-note">
                         1.0.0
                       </span>
                </div>

				<div class="item item-icon-left">
                   <i class="icon ion-magnet"></i>
                   最新版本
                       <span class="item-note">
                         2.0.0
                       </span>
                </div>  

                <div class="card">
                  <div class="item item-text-wrap">
                    版本更新信息
                  </div>
                </div>                              
             </ion-content>
         </ion-view>