<!DOCTYPE html>
<html ng-app="starter">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link href="css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/additional.css" rel="stylesheet">
    <!--<link href="css/CircularNavigation.css" rel="stylesheet">-->
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/demo.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="js/Chart.min.js"></script>
    <script src="js/ionic.bundle.js"></script>
    <script src="js/angular-chart.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <!-- <script src="lib/ngCordova/dist/ng-cordova.js"></script>-->
    <script src="js/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <!-- uuid generator js -->
    <script src="js/uuidGen.js"></script>
    <!-- code js -->
    <script type="text/javascript" src="js/aes.js"></script>
    <script type="text/javascript" src="js/pad-iso10126-min.js"></script>

    <!-- md5 encode js -->
    <script type="text/javascript" src="js/md5.js"></script>
    
    
    <script src="js/controllers.js"></script>
    <script src="js/WifiServices.js"></script>

    <script src="js/modernizr-2.6.2.min.js"></script>
    

</head>

<body ng-controller="MainCtrl">
    <script></script>
    <ion-nav-view animation="none"></ion-nav-view>
    
    <script id="templates/loading.html" type="text/ng-template">
            <ion-spinner icon="ripple" class="spinner-assertive"></ion-spinner>
            <br />
            <span>Loading...</span>
    </script>
    <script id="templates/modal.html" type="text/ng-template">
        <div ng-click="closeModal()">
            <ion-spinner icon="ripple" class="spinner-assertive"></ion-spinner>
            <br />
            <span>为了您的智能居家，我们正在拼命研发中，敬请期待 !</span>
        </div>
    </script>

    <script id="templates/dashboard.html" type="text/ng-template">
        <ion-view title="" >
            <ion-tabs class="nav-title-slide-ios7 tabs-striped tabs-icon-top tabs-bottom tabs-background-light tabs-balanced" animation="none">
                <ion-tab title="Alarms" icon-on="ion-ios7-star" icon-off="ion-ios7-star-outline" href="#/app/dashboard/alarms">
                    <ion-nav-view name="alarms-tab"></ion-nav-view>
                </ion-tab>
                <ion-tab title="Home" icon-on="ion-ios7-home" icon-off="ion-ios7-home-outline" href="#/app/dashboard/overview">
                    <ion-nav-view name="overview-tab"></ion-nav-view>
                </ion-tab>
                <ion-tab title="Settings" icon-on="ion-ios7-settings-strong" icon-off="ion-ios7-settings" href="#/app/dashboard/usersetting">
                    <ion-nav-view name="usersetting-tab"></ion-nav-view>
                </ion-tab>
            </ion-tabs>
        </ion-view>
    </script>
    <script id="templates/alarms.html" type="text/ng-template">
        <ion-view title="报警通知" ng-controller="AlarmsCtrl" ng-init="alarmInit()">
            <ion-content class="padding">
                <div ng-if="AllAlarmsViewModel.alarms.length === 0 || AllAlarmsViewModel.alarms == null">
                    <h5 class="text-center">No Message Info</h5>
                </div>
                <div ng-if="AllAlarmsViewModel.alarms.length != 0" ng-repeat="alarm in AllAlarmsViewModel.alarms">
                    <div class="col-lg-33 disable-user-behavior" ng-click="sendAck(alarm)">

                        <div class="card">
                            <div class="item item-avatar">
                                <h2>主机名: {{alarm.device_name}} <span ng-show="alarm.opt_result == 0" class="balanced ng-hide">unacked</span></h2>
                                <p>节点类型: {{alarm.node_type_cn}}</p>
                                <p>报警类型: {{alarm.alert_type_cn}}</p>
                                <p>报警时间: {{alarm.alert_time}}</p>
                            </div>
                        </div>


                    </div>
                </div>    
                <button class="button button-balanced button-block" style="border-color: #57a595;background-color: #57a595;" ng-click="loadMoreAlarms()">
                    Load More
                </button>  
            </ion-content>
        </ion-view>
    </script>
    <script id="templates/overview.html" type="text/ng-template">
        <ion-view title="信来智家【{{UsingDeviceViewModel.device.titleText}}】" ng-controller="OverViewCtrl" ng-init="DataReq()">
            <ion-nav-buttons side="right">
                <button class="button-clear" ng-click="armStatusBtnChange()"><i class="icon" ng-class="UsingDeviceViewModel.device.icon" style="font-size: 22px;color: white;"></i></button>
            </ion-nav-buttons>
            <ion-content class="padding" style="padding: 0px;">

                <wrap-owlcarousel class="owl-carousel "
                                  data-options="{
                            autoPlay: true,
                            slideSpeed : 800,
                            paginationSpeed : 400,
                            items: 3,
                            itemsDesktop: [1199,3],
                            itemsTablet: [768,2],
                            itemsMobile: [479,1],
                            navigation: false,
                        }">
                    <div class="owl-item">
                        <img src="img/01.png" />
                    </div>
                    <div class="owl-item">
                        <img src="img/02.png" />
                    </div>
                    <div class="owl-item">
                        <img src="img/03.png" />
                    </div>
                    <div class="owl-item">
                        <img src="img/04.png" />
                    </div>
                </wrap-owlcarousel>

                <div class="card">
                    <div class="item" id="alarmDesc">
                        {{OverViewViewModel.Status}}
                        <span class="item-note" on-tap="pageJump('app.deviceselect')">
                            切换主机
                        </span>
                    </div>
                </div>

                <!--<div class="padding-horizontal" style="padding-top: 176px;">
                    <div class="cn-wrapper opened-nav" id="cn-wrapper">
                        <ul>
                            <li><a href="#" style="transform: skew(-60deg) rotate(15deg) scale(1);"><i class="icon ion-magnet blockLine-Icon"></i><span>门磁</span></a></li>
                            <li><a href="#" style="transform: skew(-60deg) rotate(-30deg) scale(1);"><i class="icon ion-wifi blockLine-Icon"></i><span>红外探测</span></a></li>
                            <li><a href="#" style="transform: skew(-60deg) rotate(-75deg) scale(1);"><i class="icon ion-no-smoking blockLine-Icon"></i><span>烟雾探测</span></a></li>
                            <li><a href="#" style="transform: skew(-60deg) rotate(-120deg) scale(1);"><i class="icon ion-bonfire blockLine-Icon"></i><span>燃气探测</span></a></li>
                            <li><a href="#" style="transform: skew(-60deg) rotate(-165deg) scale(1);"><i class="icon ion-magnet blockLine-Icon"></i><span>电子钥匙</span></a></li>
                            <li><a href="#" style="transform: skew(-60deg) rotate(-210deg) scale(1);"><i class="icon ion-videocamera blockLine-Icon"></i><span>视频监控</span></a></li>
                            <li><a href="#" style="transform: skew(-60deg) rotate(-255deg) scale(1);"><i class="icon ion-more blockLine-Icon"></i><span>智能看护</span></a></li>
                            <li><a href="#" style="transform: skew(-60deg) rotate(-300deg) scale(1);"><i class="icon ion-more blockLine-Icon"></i><span>智能家居</span></a></li>
                        </ul>
                    </div>
                </div>-->


                <div class="padding-horizontal" style="padding-top: 30px;">
                    <div class="blockLine">
                        <div class="item blockLine-left" on-tap="nodeTypeTap('app.nodeType',  '我的门磁',1)" id="megnetDevices">
                            <div class="blockLine-IconParent">
                                <i id="megnetCore" class="icon ion-magnet blockLine-Icon fontNormal"></i>
                            </div>
                            <div id="megnettxt" class="blockLine-Desc fontBlack">门磁</div>
                        </div>
                        <div class="item blockLine-middle" on-tap="nodeTypeTap('app.nodeType', '我的红外监测',2)" id="infraDevices">
                            <div class="blockLine-IconParent">
                                <i id="infraCore" class="icon ion-wifi blockLine-Icon fontNormal"></i>
                            </div>
                            <div id="infratxt" class="blockLine-Desc fontBlack">红外探测</div>
                        </div>
                        <div class="item blockLine-right" on-tap="nodeTypeTap('app.nodeType', '我的烟雾探测',3)" id="smokeDevices">
                            <div class="blockLine-IconParent">
                                <i id="smokeCore" class="icon ion-no-smoking blockLine-Icon fontNormal" ></i>
                            </div>
                            <div id="smoketxt" class="blockLine-Desc fontBlack">烟雾探测</div>
                        </div>
                        

                    </div>
                    <div class="blockLine">
                        <div class="item blockLine-left" on-tap="nodeTypeTap('app.nodeType', '我的电子钥匙', 0)" id="eKeyDevices">
                            <div class="blockLine-IconParent">
                                <i id="eKeyCore" class="icon ion-bonfire blockLine-Icon fontNormal"></i>
                            </div>
                            <div id="eKeytxt" class="blockLine-Desc fontBlack">电子钥匙</div>
                        </div>
                        <div id="cubicCore" ng-class="cssHelpViewModel.corecubicClass"  on-tap="pageJump('app.alarming')">
                            <div>
                                <div class="blockLine-Desc fontBlack" style="margin-top: 13px;height: 100%;color: white;font-size: 17px;">信来主机</div>
                            </div>
                        </div>

                        <div class="item blockLine-right" on-tap="nodeTypeTap('app.nodeType', '我的温度监测', 4)" id="tempDevices">
                            <div class="blockLine-IconParent">
                                <i id="tempCore" class="icon ion-no-smoking blockLine-Icon fontNormal" ></i>
                            </div>
                            <div id="temptxt" class="blockLine-Desc fontBlack">温度监测</div>
                        </div>

                    </div>
                    <div class="blockLine">
                        <div class="item blockLine-left-bottom" on-tap="pageJump('app.camera')" id="cameraDevices">
                            <div class="blockLine-IconParent">
                                <i class="icon ion-videocamera blockLine-Icon" style="color:#57a595;"></i>
                            </div>
                            <div class="blockLine-Desc">视频监控</div>
                        </div>
                        <div class="item blockLine-middle-bottom" on-tap="openModal()">
                            <div class="blockLine-IconParent">
                                <i class="icon ion-more blockLine-Icon" style="color:#57a595;"></i>
                            </div>
                            <div class="blockLine-Desc">智能看护</div>
                        </div>
                        <div class="item blockLine-right-bottom" on-tap="Emergency()">
                            <div class="blockLine-IconParent">
                                <i class="icon ion-more blockLine-Icon" style="color:#57a595;"></i>
                            </div>
                            <div class="blockLine-Desc">紧急报警</div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="clearfix"></div>

            </ion-content>
        </ion-view>
    </script>
    <script id="templates/usersetting.html" type="text/ng-template">
        <ion-view title="用户" ng-controller="usersettingCtrl">
            <ion-content>
                <div style="padding: 5% 40% 1% 40%; background-color: #70b7a8;">
                    <img style="width: 80px;height: 80px;" src="img/logo.png" />
                    
                </div>
                <div style="text-align: center; color: antiquewhite; font-size: 16px; background-color: #70b7a8;">Cia_Name</div>
                    <div class="list">
                        <li class="item" on-tap="pageJump('app.userinfo')">
                            <i class="icon ion-bonfire blockLine-Icon" style="font-size: 26px; padding-right:15px;"></i><span>账号信息</span>
                        </li>
                        <li class="item " on-tap="pageJump('app.devicemanage')">
                            <i class="icon ion-bonfire blockLine-Icon" style="font-size: 26px; padding-right:15px;"></i><span>我的主机</span>
                        </li>
                        <li class="item " on-tap="pageJump('app.purchaseinfo')">
                            <i class="icon ion-bonfire blockLine-Icon" style="font-size: 26px; padding-right:15px;"></i><span>支付业务</span>
                        </li>
                        
                        <li class="item " on-tap="pageJump('app.changepassword')">
                            <i class="icon ion-bonfire blockLine-Icon" style="font-size: 26px; padding-right:15px;"></i><span>密码修改</span>
                        </li>
                        <li class="item " on-tap="pageJump('app.help')">
                            <i class="icon ion-bonfire blockLine-Icon" style="font-size: 26px; padding-right:15px;"></i><span>帮助</span>
                        </li>
                        <li class="item " on-tap="pageJump('app.about')">
                            <i class="icon ion-bonfire blockLine-Icon" style="font-size: 26px; padding-right:15px;"></i><span>关于</span>
                        </li>
                        <li class="item " on-tap="pageJump('app.maintanance')">
                            <i class="icon ion-bonfire blockLine-Icon" style="font-size: 26px; padding-right:15px;"></i><span>故障报修</span>
                        </li>
                    </div>
                <div class="padding">
                    <button class="button button-balanced button-block" ng-click="logout()" style="border-color: #57a595;background-color: #57a595;">
                        安全退出
                    </button>
                </div>

            </ion-content>
        </ion-view>
    </script>
    

    

    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>   
</body>
</html>
